.container {
    width: 1100px;
    margin: auto;
}

.showContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1000px;

}


.showCard {
    border: 1px solid rgb(177, 176, 176);
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;


    border-radius: 5px;
    box-shadow: 3px 3px 10px 0px grey;
}

.showImage img {
    margin: 10px 10px 0;
    width: 180px;
    height: auto;
    border-radius: 3px;

}